!!!
%html
  %head
    %title Turkeys
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.justify-content-between
      = link_to 'Turkeys', root_path, class: 'navbar-brand'
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
    .container
      %main
        = yield
